# Using temporary SQLite file for fast, portable testing
DB_DSN="sqlite:tests/runtime/test.db"
DB_USER=""
DB_PASS=""

# PostgreSQL example:
#DB_DSN="pgsql:host=postgres-default-controller;dbname=yii2-default-controller"
#DB_USER="postgres"
#DB_PASS="postgres"

# MySQL example:
#DB_DSN="mysql:host=localhost;dbname=yii2_test"
#DB_USER="root"
#DB_PASS=""